.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1; 

    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas com o mesmo tamanho. Neste caso 50,50*/
    gap: 6.25rem; /* espacamento de 100 pixels entre elas no desk (diminuindo conforme a tela for menor). */
    align-content: center;
}